/* .container {
    display: flex;
    justify-content: space-between;
    margin: 0 150px 0 150px;
    width: 1200px;
    flex-wrap: wrap;
}

.mobile {
    width: 500px;
    height: 700px;
}

.img {
    width: 300px;
    height: 300px;
    margin: 80px;
}

.model {
    font-size: 24px;
    line-height: 30px;
    color: #333;
    padding: 50px 20px;
}

.cart {
    display: flex;
    justify-content: space-between;
}

.price {
    display: flex;
}

.offerPrice {
    font-size: 24px;
    color: #fc9f18;
    margin-right: 5px;
    line-height: 1;
    padding: 10px 5px 10px 20px;
}

.originalPrice {
    color: #333;
    font-size: 14px;
    padding-top: 15px;
}

.buynow {
    background: #fc9f18;
    border-radius: 20px;
    text-align: center;
    line-height: 39px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    width: 166px;
    height: 40px;
    display: inline-block;
    margin: 15px;
} */